<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">1337</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/siBaza</property>
  <property name="hibernate.connection.username">mirzas</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="domainModels.Uposlenik"/>
  <mapping class="domainModels.Osoba"/>
 </session-factory>
</hibernate-configuration>
